@import url('https://fonts.googleapis.com/css2?family=Meddon&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}